<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Poodle</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/images/poodle.jpg" alt="Photo of a Poodle">
  <mat-card-content>
    <p>
      The poodle is a group of formal dog breeds, the Standard Poodle, Miniature Poodle and Toy Poodle.
      The origin of the breed is still discussed, with a prominent dispute over whether the poodle descends
      from Germany as a type of water dog, or from the French Barbet.
      Ranked second most intelligent dog breed just behind the Border Collie, the poodle is skillful in many
      dog sports and activities, including agility, obedience, tracking to herding, circus performers or
      assistance dogs. Poodles have taken top honors in many conformation shows, including
      "Best in Show" at the Westminster Kennel Club Dog Show in 1991 and 2002, and at the World Dog Show
      in 2007 and 2010.
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
